@import "constants/styles.scss";

.additional {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 0;

  &-btn {
    position: absolute;
    right: 15px;
    top: 5px;
    z-index: 2;
    cursor: pointer;
    &.active {
      transform: scale(2);
      color: $summerGreenColor;
    }
  }
  .additional-info {
    position: relative;
    top: -$swiperTopPadding;
    background-color: rgb(238, 238, 238);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15), 0 0px 2px rgba(0, 0, 0, 0.24);

    width: inherit;
    text-align: left;
    display: none;
    padding-top: 5px;
    height: 95px;

    h2 {
      font-size: 12px;
      text-align: center;
      text-transform: none;
    }
    .content {
      position: relative;
      padding: 5px;
      height: 65px;
      textarea {
        width: 100%;
        height: 100%;
        height: inherit;
        border: none;
        outline: none;
        resize: none;
        padding: 5px 25px 5px 5px;
      }
    }
  }
}
.additional.active {
  .additional-info {
    display: block;
  }
}
