$summerGreenColor: #10d37f;
$grey: #acacac;
$black: #252525;
$mediumDark: rgba(37, 37, 37, 0.67);
$checked: #c5c5c5;
$hot: rgb(255, 58, 58);
$lightBg: rgb(243, 243, 243);
// swiperTopPadding needs to be equal to additional popup heigh
$swiperTopPadding: 100px;

$lg: 1400px;
$md: 1100px;
$sm: 900px;
$xs: 650px;
