@import "constants/styles.scss";

.task-field {
  width: 100%;

  .input-field {
    align-items: flex-end;
    display: flex;
    width: 100%;
    margin-top: 5px;
    font-size: inherit;

    .list-counter {
      width: 20px;
    }

    input.text {
      height: 30px;
      margin: 3px 0px 0px 0px;
      box-sizing: border-box;
      border: none;
      outline: none;
      border-bottom: 2px solid $grey;
      padding-top: 10px;
      margin: 0px 8px;
      width: 100%;
    }
    &.done {
      input.text {
        border-bottom: 2px solid $summerGreenColor;
        text-decoration: line-through;
      }
    }
  }
}
