@import "constants/styles.scss";
@font-face {
  font-family: "Circular";
  src: local("Circular"),
    url(../../fonts/CircularStd-Book.otf) format("opentype");
}
.input-field {
  align-items: flex-end;
  display: flex;
  width: 100%;
  font-size: inherit;

  &.enabled {
    .todo {
      cursor: text;
    }
  }

  .list-counter {
    width: 20px;
  }

  input.todo {
    height: 30px;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-bottom: 2px solid $grey;
    padding-top: 10px;
    margin: 0px 0px 0px 8px;
    width: 100%;
    font-family: "Circular" !important;
    font-weight: 100;
    &:disabled {
      background: transparent;
    }

    &:hover ~ .todo-btn {
      display: block;
    }
  }
  .todo-btn {
    display: none;
  }
  &.done {
    input.todo {
      border-bottom: 2px solid $summerGreenColor;
      text-decoration: line-through;
    }
  }
}
.todo-btn {
  // cursor: url("../../img/edit.png"), auto;
  cursor: pointer;
  font-size: 18px;
  position: absolute;
  right: 0px;
  top: 2px;
  transform: scale(-1, 1);
  &:hover {
    color: rgb(255, 115, 115);
  }
  &.delete-btn {
    font-size: 17px;
  }
}
