@import "constants/styles.scss";

.task-field {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;

  // last task

  &:first-child {
    opacity: 1 !important;
  }

  .list-counter {
    width: 10px;
    color: $black;
    padding-bottom: 2px;
  }
  &.done {
    .list-counter {
      color: $checked;
    }
    .todo {
      border-bottom: 2px solid $checked;
      text-decoration: line-through;
      color: $checked;
    }
  }
}
