@import "constants/styles.scss";

.header-wrapper {
  background-color: #03928b;
  padding: 5px 0px;

  .header {
    position: relative;
    color: #fff;
    .head-title {
      font-size: 35px;
      padding: 2px;
      text-align: center;
    }
    .account {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translate(0%, -50%);
      color: #fff;
      font-weight: 800;
    }
  }
}
