@import "constants/styles.scss";

.header-wrapper {
  background-color: #03928b;
  padding: 5px 0px;

  .header {
    position: relative;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    .head-title {
      font-size: 25px;
      padding: 2px;
      text-align: center;
      flex: auto;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
    }
    .right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-left: auto;
      .account {
        color: #fff;
        font-weight: 800;
      }
    }
  }
}
