@import "constants/styles.scss";

$arrowsWH: 35px;
$buttonsWH: 20px;
$buttonsTop: 10px;
$buttonsSides: -43px;

.swiper-container {
  top: 12px;
  max-width: 1400px;
}

.btnSlide {
  width: $arrowsWH;
  height: $arrowsWH;
  mask: url(../../img/arrow-right.svg);
  top: -40px;
  z-index: 99;
}
.btnPrevSlide {
  left: 30px;
  transform: scale(-1, 1);
}
.btnNextSlide {
  right: 30px;
}
.home-page {
  width: $buttonsWH;
  height: $buttonsWH;
  mask: url(../../img/home-page.svg);
  position: absolute;
  cursor: pointer;
  left: 38px;
  top: -80px;
}
.nav-btn {
  background: $black;
  mask-size: cover;
  position: absolute;
  cursor: pointer;
  &-small {
    background: $mediumDark;
  }
  &:hover {
    background: $hot;
  }
}
.calendar {
  width: $buttonsWH;
  height: $buttonsWH;
  mask: url(../../img/calendar.svg);
  top: $buttonsTop;
  right: $buttonsSides;
}
