@import "constants/styles.scss";

.btnSlide {
  width: 40px;
  height: 40px;
  mask: url(../../img/arrow-right.svg);
  top: 50px;
}
.btnPrevSlide {
  left: -50px;
  transform: scale(-1, 1);
}
.btnNextSlide {
  right: -50px;
}
.home-page {
  width: 25px;
  height: 25px;
  mask: url(../../img/home-page.svg);
  top: 100px;
  left: -42px;
}
.nav-btn {
  background: black;
  mask-size: cover;
  position: absolute;
  cursor: pointer;
  &:hover {
    background: $hot;
  }
}
