@import "constants/styles.scss";

$arrowsWH: 35px;
$buttonsWH: 20px;
$buttonsTop: 10px;
$buttonsSides: -43px;

.btnSlide {
  width: $arrowsWH;
  height: $arrowsWH;
  mask: url(../../img/arrow-right.svg);
  top: -50px;
}
.btnPrevSlide {
  left: -50px;
  transform: scale(-1, 1);
}
.btnNextSlide {
  right: -50px;
}
.home-page {
  width: $buttonsWH;
  height: $buttonsWH;
  mask: url(../../img/home-page.svg);
  top: $buttonsTop;
  left: $buttonsSides;
}
.nav-btn {
  background: black;
  mask-size: cover;
  position: absolute;
  cursor: pointer;
  &:hover {
    background: $hot;
  }
}
.calendar {
  width: $buttonsWH;
  height: $buttonsWH;
  mask: url(../../img/calendar.svg);
  top: $buttonsTop;
  right: $buttonsSides;
}
