.btnSlide {
  width: 40px;
  height: 40px;
  background: black;
  mask: url(../../img/arrow-right.svg);
  mask-size: cover;
  position: absolute;
  top: 50px;
  cursor: pointer;
  &:hover {
    background: red;
  }
}
.btnPrevSlide {
  left: -50px;
  transform: scale(-1, 1);
}
.btnNextSlide {
  right: -50px;
}
