@import "constants/styles.scss";

.LETO {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.container {
  width: 1400px;
  margin: 0 auto;
}

input,
textarea {
  font-family: "Roboto", "sans-serif";
}

@media screen and(max-width: $lg) {
  .container {
    width: 100%;
  }
}

@media screen and(max-width: $sm) {
  input,
  textarea {
    font-size: 16px;
  }
}
